* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* nav bar */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(100, 100, 100);
    height: 20vh;
    width: 10vw;
    text-align: center;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    color: rgb(200, 200, 200);
    width: 10vw;
    font-size: 1.1rem;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 7vh;
    background-color: rgb(44, 44, 44);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: rgb(200, 200, 200);
}

nav a {
    color: rgb(200, 200, 200);
}

nav a:hover {
    color: rgb(255, 255, 255);
}

main {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    align-items: center;
}

.dropbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    height: 7vh;
    text-align: center;
    width: 10vw;
    font-size: 1.1rem;
}

.logo {
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

/* footer */
 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15vh;
    width: 100vw;
    background-color: black;
    bottom: 0;
    color: white;
 }

 .footer-container {
    height: 13vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;

 }


 .f-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
 }

 .f-links li {
    list-style-type: none;
 }

 .f-links a {
    text-decoration: none;
    color: white;
 }

/* background */
.bg {
    background-color: #FFF7B6;
    width: 100vw;
}



/* home */
.about-h {
    height: 50vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.about-title-h {
    height: auto;
    width: 85vw;
    display: flex;
    flex-direction: column;
}

.about-title-h h1 {
    font-size: 2rem;
}

.about-title-h p {
    width: 60vw;
    margin-top: 10px;
    font-size: 1.2rem;
}





.header-h {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-h {
    height: 600px;
    width: 400px;
    background-image: url(./img/kaas-20334470.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5vh;
}

.card-h:nth-last-child(1){
    backdrop-filter: blur();
    background-image: url(./img/jongekaas.png);
}

.card-h:nth-last-child(2){
    background-image: url(./img/oude-kaas.png)
}

.card-h:nth-last-child(3){
    background-image: url(./img/smeltbare-kaas.png)
}

.container-header-h {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.container2-header-h {
    height: 45vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2-h {
    height: 300px;
    width: 900px;
    background-color: green;
    border-radius: 5vh;
    background-image: url(./img/kaashcaven.png);
    background-position: center;
}
/* 1 */


